<section class="home" id="home">
    <div class="hero-info">
        <h3>Welcome To my World</h3>
        <h1>Hi I'm Gulshan</h1>

    <div class="text-animate">
            <h2>Angular Developer</h2>
        </div>

        <p>I specialize in creating intuitive, user-focused designs that enhance digital experiences. With a strong foundation in UI/UX principles and hands-on expertise in Angular, SCSS, and modern web technologies, I craft responsive and visually appealing interfaces.</p>

        <div class="btn-box">
            <a href="gulshanjain043@gmail.com" class="btn">Hire Me Now ! <i class='bx bx-right-arrow-alt' ></i></a>
            <a style="cursor: pointer;" (click)="downloadCV()" target="_blank" class="btn d-CV">Download CV <i class='bx bx-download'></i></a>
        </div>

        <div class="social-media">
            <div class="bg-icon">
                <a href="https://www.instagram.com/gulshan_k_043/"><i class='bx bxl-instagram'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="https://github.com/Gulshan043"><i class='bx bxl-github'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="https://www.facebook.com/profile.php?id=61571203267550"><i class='bx bxl-facebook'></i></a>
                <span></span>
            </div>
        </div>
    </div>
    <div class="img-hero">
        <img src="assets/img/hero.png" alt="">
        <div class="rotate-text">
            <div class="text">
                <p>I'm Angular Developer And I'm Progressive App Developer</p>
            </div>
            <span><i></i></span>
        </div>
    </div>
</section>