<section class="portfolio" id="portfolio">
    <div class="main-text">
        <h2 class="heading">My Services</h2>
        <span>what i will do for you</span>
    </div>
    <div class="fillter-buttons">
        <button class="button mixitup-control-active" data-filter="all">All Work</button>
        <button class="button" data-filter=".web">Web Development</button>
        <button class="button" data-filter=".uiux">UI/UX Design</button>
        <button class="button" data-filter=".branding">Branding Design</button>
    </div>

    <div class="portfolio-gallery">
        <div class="portfolio-box mix uiux">
            <div class="portfolio-content">
                <h3>UI/UX Design</h3>
                <p>"Design engaging and user-friendly interfaces that ensure accessibility and functionality."</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="assets/img/portfolio/1.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>Responsive Web Design</h3>
                <p>"Craft visually stunning and fully responsive websites that adapt seamlessly to any device."</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="assets/img/portfolio/2.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>Web Development</h3>
                <p>Create responsive, feature-rich websites with clean code and optimized performance to meet modern web standards.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="assets/img/portfolio/3.jpg" alt="">
            </div>
        </div>


        <div class="portfolio-box mix branding">
            <div class="portfolio-content">
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="assets/img/portfolio/6.jpg" alt="">
            </div>
        </div>
    </div>

</section>